GEMINI_API_KEY="your gemini key here"
GCP_PROJECT_ID=civicpulse-app-505811
BIGQUERY_DATASET=civicpulse_analytics
GCS_BUCKET_NAME=civicpulse-evidence-bucket
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
PORT=8080